td, th {
    border: 1px solid gray;
    text-align: center;
    padding: 2px;
    table-layout: fixed;
    color: white
  }

  body {
    background-color: DarkSlateGray;
  }
  
  h2, h3 {
    padding-left: 10%;
    color: orange;
    text-align: left;
  }
  
  h1 {
    color: orange;
    text-align: center;
  }
  
  h4 {
    color: white;
    text-align: center;
  }

  p, li {
    padding-right:20%;
    padding-left: 20%;
    text-align: left;
    color: white;
  }
  
  a, u {
    text-decoration: none;
  }
  
  a:link {
    color: Aqua;
  }
  
  /* visited link */
  a:visited {
    color: GreenYellow;
  }